@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto.woff2') format('woff2'),
         url('fonts/Roboto.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Trajan Pro';
    src: url('fonts/TrajanPro.woff2') format('woff2'),
         url('fonts/TrajanPro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #1c2137;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gradient-background {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 100%;
    background: radial-gradient(circle at top center, #2b1f63, #1c2137 70%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

.logo {
    width: auto;
    height: 60vmin;
    transition: transform 0.3s ease-in-out;
    margin-bottom: 20px;
}

.logo:hover {
    transform: scale(1.1);
}

.brand-name span {
    font-family: 'Roboto', sans-serif;
    font-weight: 500; 
    font-size: 10rem; 
    display: inline-block;
    vertical-align: middle;
    color: #396fcc;
    transform-origin: center bottom;
}

.q {
    font-family: 'Trajan Pro', serif;
    font-weight: bold;
    transform: scaleY(0.66) scaleX(0.72);
}

.d {
    transform: scaleY(0.70) scaleX(1); 
}

.i {
    transform: scaleY(0.48) scaleX(0.72); 
}

.other {
    transform: scaleY(0.66) scaleX(0.72);
}
