body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #1c2137;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gradient-background {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 100%;
    background: radial-gradient(circle at top center, #2b1f63, #1c2137 70%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

.logo {
    width: auto;
    height: 60vmin; /* 60% of the smallest viewport dimension */
    transition: transform 0.3s ease-in-out;
}

.logo:hover {
    transform: scale(1.1);
}
